        /* General Styles */
        html{
            scroll-behavior: smooth;
        }
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            line-height: 1.6;
            background-color:rgb(255, 255, 255);/* #f8f9fa;*/
            color: #333;
        }

        h1, h2, h3, p {
            margin: 0;
            padding: 0;
        }

        ul {
            list-style: none;
            padding: 0;
          
        }

        a {
            text-decoration: none;
            color: inherit;
            
        }

        /* Header Styles */

        .header {
          position: fixed;
            top: 0;
            width: 100%;
            
           box-sizing: border-box;
            background-color: #007bff;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 30px;
            z-index: 500;
        }

        .logo {
            font-size: 1.5rem;
            font-weight: bold;
           
        }

        .nav ul {
            display: flex;
            gap: 40px;
           
        }

        .nav a {
            color: #fff;
            font-weight: 700;
            transition: color 0.3s;
        }

        .nav a:hover {
            color: #333;
        }

        /* Main Section Styles */
        .main-section {
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 60px;
            background-color: rgb(255, 255, 255);/*#f8f9fa;*/
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.2);
            margin: 20px 20px;
            
        }

        .main-content {
            max-width: 50%;
        }

        .main-content h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
        }

        .main-content p {
            font-size: 1.2rem;
            margin-bottom: 30px;
            color: #007bff;
        }

        .main-illustration {
            max-width: 45%;
        }

        .main-illustration img {
            max-width: 100%;
            height: auto;
        }

        /* Projects Section Styles */
        main{
            margin-top: 92px;
        }
        .line hr{
            border: none;          /* Elimina el borde predeterminado */
            border-top: 6px solid rgb(15, 104, 243);; /* Línea de 2px de grosor y color negro */
            width: 100%;            /* Ancho de la línea (ajustable) */
            margin-top: 5px; 
            margin-bottom: 40px;
        }

        .projects-section {
            padding: 50px;
            background-color:rgb(255, 255, 255);/*#f8f9fa;*/ /*#fff;*/
            text-align: center;
            border: 2px solid white;
            border-top: none;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.2);
            margin: 0 20px;
            margin-bottom: 20px;
            
        }

        .projects-section h2 {
            font-size: 2rem;
            color: #007bff;
            margin-bottom: 20px;
        }

        .projects-container {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
            cursor: pointer;
        }

        .project-card {
            background-color: #f8f9fa;
            width: 380px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s;
        }

        .project-card:hover {
            transform: scale(1.05);
        }

        .project-card img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .project-info {
            padding: 20px;
            text-align: left;
        }

        .project-info h3 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        .project-info p {
            font-size: 1rem;
            margin-bottom: 10px;
        }

        /* Achievements Section Styles */
        .achievements-section {
            padding: 60px;
            background-color:rgb(255, 255, 255);/*#f8f9fa;*//* #f8f9fa;*/
            text-align: center;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.2);
            margin: 20px 20px;
        }

        .achievements-section h2 {
            font-size: 2rem;
            color: #007bff;
            margin-bottom: 20px;
        }

        .achievements-container {
            display: flex;
            flex-wrap: wrap;
            gap: 80px;
            justify-content: center;
        }

        .achievement-card {
            background-color: #fff;
            width: 400px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            transition: transform 0.3s ease;
        }
        .achievement-card:hover{
            transform: scale(1.05);
        }

        .achievement-card img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 10px;
        }

        /* Services Section Styles */
        .services-section {
            padding: 60px;
            background-color:rgb(255, 255, 255);/*#f8f9fa;*/ /*#fff;*/
            text-align: center;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.2);
            margin: 20px 20px;
        }

        .services-section h2 {
            font-size: 2rem;
            color: #007bff;
            margin-bottom: 20px;
        }

        .services-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        .service-card {
            background-color: #f8f9fa;
            width: 280px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s ease;
        }



        
    
    .service-card:hover{
        transform: scale(1.05);
    }

        .service-card img {
            width: 100%;
            height: 150px;
            object-fit: cover;
        }

        .service-info {
            padding: 20px;
        }

        /* Footer Styles */


        .footer {
            background-color: #343a40;
            color: #fff;
            padding: 40px 20px;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }

        .footer-logo {
            font-size: 3.5rem;/*1.5rem*/
            font-weight: bold;
            /*margin-bottom: 20px;*/
            max-width: 50%;
            
            margin-right: 60px;
        }
        .creators-info{
            max-width: 50%;
            
            text-align: left;
            margin-left: 60px;
           
            
        }
        .creators-info p {
            font-size: 2rem;/*1.2 rem*/
           /* margin-bottom: 10px;*/
        }

        .creators-info ul {
           /* margin-bottom: 20px;*/
           margin: 0;
           padding: 0;
        }

        .creators-info li {
            /*margin-bottom: 5px;*/
            font-size: 1.2rem;
            line-height: 1.2;
        }

        .message-form {
            display: flex;
            justify-content: left;
           /* gap: 10px;*/
            padding-top: 15px;
        }

        .message-form input {
            padding: 10px 0px;
            border-radius: 5px;
            border: none;
            width: 200px;
        }

        .message-form button {
            padding: 10px;
            border: none;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s;
            
            
        }

        .message-form button:hover {
            background-color: #0056b3;
        }

        
        @media (min-width: 769px) and (max-width: 1024px) {

            .main-content h1 {
                font-size: 1.7rem;
                
            }
    
            .main-content p {
                font-size: 1rem;
               
            }

        }
        @media (min-width: 480px) and (max-width: 768px) {

            .main-section {
                flex-direction: column;
            }
    
            .main-content {
                max-width: 100%;
            }
    
            .main-content h1 {
                font-size: 1.8rem;
            }
    
            .main-content p {
                font-size: 1.2rem;
            }
    
            .main-illustration {
                max-width: 65%;
            }


   











            
            .footer-logo {
                font-size: 2.5rem;/*1.5rem*/
                margin-right: 15px;
                padding: 40px 20px;
            }

            .creators-info{
                margin-left: 15px;               
            }

            .creators-info p {
               font-size: 1.5rem;/*1.2 rem*/
               /* margin-bottom: 10px;*/
            }
       
            .creators-info li {
                /*margin-bottom: 5px;*/
                font-size: 1rem;
                line-height: 1.2;
            }
    
            .message-form {    
                padding-top: 15px;
            }
    
            .message-form input {               
                width: 150px;
            }
    

        }
        @media (min-width: 320px) and (max-width: 479px) {

            .header {
                position: static;     
              }   
              
              .main-section {
            
             
                margin: 10px 7px;
                
            }
            main{
                margin-top: 0px;
            }
            .main-section {
                flex-direction: column;
            }
    
            .main-content {
                max-width: 100%;
            }
    
            .main-content h1 {
                font-size: 1rem;
            }
    
            .main-content p {
                font-size: 1rem;
            }
    
            .main-illustration {
                max-width: 65%;
            }
    
            .header {                   
                flex-direction: column;
                justify-content: center;/**/
            }
                
            .nav ul {
                gap: 40px;
                justify-content: center;
            }
    
            .nav a {
                justify-content: center;
            }
    

            .line hr{
                margin-bottom: 20px;
            }
            .projects-section {
         
                margin: 0 7px;
                
                
            }
    
            .projects-section {
                padding: 30px;
            }
    
            .projects-section h2 {
                font-size: 1.6rem;
            }

            .project-info h3 {
                font-size: 1.2rem;              
            }   
    
            /* Achievements Section Styles */

            .achievements-section {
                
                margin: 20px 7px;
            }
    
            .achievements-section {
                padding: 30px;             
            }
    
            .achievements-section h2 {
                font-size: 1.6rem;                      
            }

            /* Services Section Styles */
            .services-section {
                
                margin: 20px 7px;
            }
    
            .services-section {
                padding: 30px;              
            }
    
            .services-section h2 {
                font-size: 1.6rem;                
            }

           



            .footer {
                padding: 40px 0px;
                text-align: center;
                flex-direction: column;     
                width: 100%;
            }
    
            .footer-logo {
                font-size: 2.1rem;/*1.5rem*/       
                max-width: 100%;
                margin-right: 0px;
                text-align: center;
            }
            .creators-info{
                max-width: 100%;           
                text-align: center;
                margin-left: 0px;           
            }
            .creators-info p {
                font-size: 1.5rem;/*1.2 rem*/
               /* margin-bottom: 10px;*/
            }
    
            .creators-info li {
                /*margin-bottom: 5px;*/
                font-size: 1rem;
                line-height: 1.2;
            }
    
            .message-form {           
                justify-content: center;      
            }
        }