
        /* General Styles */
        html{
            scroll-behavior: smooth;
        }
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            line-height: 1.6;
            background-color: #f8f9fa;
            color: #333;
        }
      
        main{
            margin: 20px;
        }
        h1, h2, h3, p {
            margin: 0;
            padding: 0;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        /* Header Styles */
        .header {
            background-color: #007bff;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 30px;
        }

        .logo {
            font-size: 1.5rem;
            font-weight: bold;
           
        }
       
        .nav ul {
            display: flex;
            gap: 40px;
        }

        .nav a {
            color: #fff;
            font-weight: 700;
            transition: color 0.3s;
        }

        .nav a:hover {
            color: #333;
        }

        /* Main Section Styles */
      
        .main-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 60px;
            background-color:rgba(235, 235, 235);/* #f8f9fa;*/
        }

        .main-content {
            max-width: 50%;
        }

        .main-content h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
        }

        .main-content p {
            font-size: 1.2rem;
            margin-bottom: 30px;
            color: #007bff;
        }

        .main-content .cta-button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 15px;
            font-size: 1rem;
            cursor: pointer;
        
            transition: background-color 0.3s, transform 0.3s ease;
        }

        .main-content .cta-button:hover {
            background-color:/* #0056b3*/  #333;;
            transform: scale(1.05);
           
        }


        .main-illustration img {
            max-width: 100%;
            height: auto;
        }

        /* Profiles Section Styles */
        
        .profiles-section {
            padding: 60px;
            /*background-color: #fff;*/
            text-align: center;
            background-color:rgba(235, 235, 235);
            margin: 20px 0px;
            
        }

        .profiles-section h2 {
            font-size: 2rem;
            color: #007bff;
            margin-bottom: 40px;
        }

        .profiles-container {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
        }

        .profile-card {
            background-color:   #f8f9fa;
            width: 260px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s;

            position: relative;
        }




        .profile-card .name{
            position: absolute;
            background-color: rgb(255, 255, 255);
            top: 13px;
            left: 13px;
            padding: 0px 6px;
            border-radius: 10px;
            color: #333
        }




        .profile-card:hover {
            transform: scale(1.05);
        }

        .profile-card img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        .profile-info {
            padding: 20px;
            text-align: left;
            
        }

        .profile-info h3 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        .profile-info p {
            font-size: 1rem;
            margin-bottom: 20px;
            
            height: 350px;/*la puse*/
        }

        .more-button {
            padding: 10px;
            background-color: #ffc107;
            color: #333;
            border-radius: 15px;
            border: none;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s;
            
        }
     

        .more-button:hover {
            background-color:#333; /*#e0a800;*/
            color: #f8f9fa;;
        }


        /* Projects Section Styles */
        .projects-section {
            padding: 60px;
            background-color: #007bff;
            text-align: center;
            color: #fff;
            
        }

        .projects-section h2 {
            font-size: 2rem;
            margin-bottom: 20px;
        }

        .projects-section p {
            font-size: 1.2rem;
            margin-bottom: 25px;
        }

        .projects-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            position: relative;/*   yo*/
        }

        .project-category {
            background-color: #0056b3;
            padding: 15px 30px;
            border-radius: 5px;
            font-weight: bold;
            transition: background-color 0.3s;
            position: relative;/*yo*/
            
        }
        .imagenpro img{
            width: 100%;
            object-fit: cover;
        }
        .contenido {
            top: 10px;
            position: absolute;
            bottom: 20px; /* Ajusta para posicionar verticalmente */
            display: flex;
            flex-direction: column;
            font-weight: bold;
            gap: 30px;
            transition: transform 0.3s ease;
             /* Espacio a los lados de .contenido */
             /* Espacio entre los div internos */
            
        }
        .desarrolloweb{
            display: flex;
           justify-content: center;
            gap: 290px;
            
        }
        .ediciovideo{
            display: flex;
            justify-content: center;
            gap: 290px;
        }
        .diseñografico{ 
           display: flex;
           justify-content: center;
          gap: 290px;
        }
            .contenido p{font-size: 1.5rem;}

            .contenido:hover {
                transform: scale(1.05);
            }

/*
        .project-category:hover {
            background-color: #003d80;
        }*/

        /* Footer Styles */
        .footer {
            background-color: #343a40;
            color: #fff;
            padding: 40px 20px;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }

        .footer-logo {
            font-size: 3.5rem;/*1.5rem*/
            font-weight: bold;
            /*margin-bottom: 20px;*/
            max-width: 50%;
            
            margin-right: 60px;
        }
        .creators-info{
            max-width: 50%;
            
            text-align: left;
            margin-left: 60px;
           
            
        }
        .creators-info p {
            font-size: 2rem;/*1.2 rem*/
           /* margin-bottom: 10px;*/
        }

        .creators-info ul {
           /* margin-bottom: 20px;*/
           margin: 0;
           padding: 0;
        }

        .creators-info li {
            /*margin-bottom: 5px;*/
            font-size: 1.2rem;
            line-height: 1.2;
        }

        .message-form {
            display: flex;
            justify-content: left;
           /* gap: 10px;*/
            padding-top: 15px;
        }

        .message-form input {
            padding: 10px 0px;
            border-radius: 5px;
            border: none;
            width: 200px;
        }

        .message-form button {
            padding: 10px;
            border: none;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s;
            
            
        }

        .message-form button:hover {
            background-color: #0056b3;
        }


        @media (min-width: 769px) and (max-width: 1024px) {

            .main-content h1 {
                font-size: 1.5rem;
                
            }
    
            .main-content p {
                font-size: 1rem;
               
            }

        }
        @media (min-width: 480px) and (max-width: 768px) {

            .main-section {
                flex-direction: column;
            }
    
            .main-content {
                max-width: 100%;
                padding-bottom: 20px;
            }
    
            .main-content h1 {
                font-size: 2rem;
            }
    
            .main-content p {
                font-size: 1.2rem;
            }
    
            .main-illustration {
                max-width: 65%;
            }

            .projects-container {         
                gap: 80px;           
            }
       
            .contenido {
                top: 5px;
                position: absolute;
                bottom: 20px; /* Ajusta para posicionar verticalmente */     
            }
            .desarrolloweb{        
                gap: 130px;          
            }
            .ediciovideo{          
                gap: 130px;
            }
            .diseñografico{          
              gap: 130px;
            }/*
            .contenido p
            {font-size: 1rem;}*/


            .contenido p{
                font-size: 1.3rem;}

            .profile-card {
                
                width: 300px;
               
            }
            .profiles-section {
                padding: 40px;
                /*background-color: #fff;*/
                /*text-align: center;
                background-color:rgba(235, 235, 235);
                margin: 20px 0px;*/
                
            }
           .projects-section {
            padding: 10px;
                height: auto;
            }
            .profiles-section{
                max-width: 100%;
            }  
             
            .projects-container img{/*ajusta imagen*/
                
                    max-width: 100%;
                    height: auto;
                    object-fit: cover; /* o "contain" según tus necesidades */
                
            }
    
            .more-button:hover {
                background-color:#333; /*#e0a800;*/
                color: #f8f9fa;;
            }

            .projects-section h2 {
                font-size: 2rem;
                margin-bottom: 20px;
            }
    
            .projects-section p {
                font-size: 1.1rem;
                margin-bottom: 30px;
            }
            /*seccion footer*/

            .footer {
                padding: 40px 0px;   
            }



            .footer-logo {
                font-size: 2.5rem;/*1.5rem*/
                margin-right: 15px;
                padding: 40px 20px;
            }

            .creators-info{
                margin-left: 15px;               
            }

            .creators-info p {
               font-size: 1.5rem;/*1.2 rem*/
               /* margin-bottom: 10px;*/
            }
       
            .creators-info li {
                /*margin-bottom: 5px;*/
                font-size: 1rem;
                line-height: 1.2;
            }
    
            .message-form {    
                padding-top: 15px;
            }
    
            .message-form input {               
                width: 150px;
            }
    
    
            main{
                margin: 0px;
            }

    
        }
        @media (min-width: 320px) and (max-width: 479px) {
         
            .header {                           
                flex-direction: column;
                justify-content: center;/**/
            }
               
            .nav ul {             
                gap: 40px;
                justify-content: center;               
            }
    
            .nav a {             
                justify-content: center;
            }
    
            .main-section {
                flex-direction: column;
            }   
            .main-content {
                max-width: 100%;
                padding-bottom: 15px;
            }
    
            .main-content h1 {
                font-size: 1.1rem;
            }
     
            .main-illustration {
                max-width: 80%;
            }
            .main-section {            
                padding: 40px;              
            }

            .main-content .cta-button {
                padding: 5px 10px;               
                font-size: 1rem;              
            }

            .main-content p {
                font-size: 1rem;
                margin-bottom: 10px;               
            }


              
        .profiles-section {
            padding: 40px;
            /*background-color: #fff;*/
            /*text-align: center;
            background-color:rgba(235, 235, 235);
            margin: 20px 0px;*/
            
        }

            .profile-info p {
                font-size: 1rem;
                height: auto;/*la puse*//*460*/
                
            }

            .more-button {
                padding: 8px;
                font-size: 16PX;
            }

            .profile-card {
                
                width: 280px;
               
            }
    
        
            .profile-card img {
                
                height: 200px;
                
            }
    
            .profile-info {
                padding: 6px;
                margin-bottom: 10px;
              
                
            }

    
            .more-button:hover {
                background-color:#333; /*#e0a800;*/
                color: #f8f9fa;;
            }



        /* Projects Section Styles */ 
        .projects-section {
            padding: 10px;
            height: auto;
        }
        .profiles-section{
            max-width: 100%;
        }  
         
        .projects-container img{
            
                max-width: 100%;
                height: auto;
                object-fit: cover; /* o "contain" según tus necesidades */
            
        }

        .projects-section h2 {
            font-size: 1.6rem;
            margin-bottom: 10px;
        }

        .projects-section p {
            font-size: 1rem;
            margin-bottom: 10px;
        }

        .projects-container {         
            gap: 0px;           
        }
   
        .contenido {
            top: 0px;
            position: absolute;
            bottom: 0px; /* Ajusta para posicionar verticalmente */
            gap: 15px;

        }
        .desarrolloweb{        
            gap: 25px;          
        }
        .ediciovideo{          
            gap: 25px;
        }
        .diseñografico{          
          gap: 25px;
        }
        .contenido p
        {font-size: 1rem;}

        
     
    

        /*foooer*/
        .footer {
            padding: 40px 0px;
            text-align: center;
            flex-direction: column;     
            width: 100%;
        }

        .footer-logo {
            font-size: 2.1rem;/*1.5rem*/       
            max-width: 100%;
            margin-right: 0px;
            text-align: center;
        }
        .creators-info{
            max-width: 100%;           
            text-align: center;
            margin-left: 0px;           
        }
        .creators-info p {
            font-size: 1.5rem;/*1.2 rem*/
           /* margin-bottom: 10px;*/
        }

        .creators-info li {
            /*margin-bottom: 5px;*/
            font-size: 1rem;
            line-height: 1.2;
        }

        .message-form {           
            justify-content: center;      
        }

        main{
            margin: 0px;
        }
    }








    